<div class="app-container" [class.read-only]="readOnly">
  <div>
    <div class="content-row" [class.formteil-section]="kindIs(data, 'FormteilContainer')">
      <app-dragger *ngIf="!readOnly" [zipper]="zipper" (dropRequested)="onDropRequested($event)"
        (actionRequested)="executeAction($event)" [actions]="actions()"></app-dragger>
      <div class="after-dragger">
        <div class="type-identifier">
          <ng-container *ngIf="kindIs(data, 'FormteilContainer')">
            <span class="type-identifier-name">{{getName()}}</span>
          </ng-container>
          <ng-container *ngIf="kindIs(data, 'MiscContainer')">
            <span class="type-identifier-name">Misc</span>
          </ng-container>
          <ng-container *ngIf="kindIs(data, 'RootContainer')">
            <span class="type-identifier-name">{{name}}</span>
          </ng-container>

          <div class="root-line form-inline" *ngIf="kindIs(data, 'RootContainer')">
            <div class="formteil-line-detail">
              <span>Typ</span>
              <select [disabled]="canChangeDocumentType()" class='form-control' [(ngModel)]="data.documentType">
                <option *ngFor="let o of documentTypes">{{o}}</option>
              </select>
            </div>
          </div>

          <div class="para-line form-inline" *ngIf="kindIs(data, 'ParatextContainer')">
            <div class="formteil-para-detail">
              <span>Retrospektiv</span> <input class="form-control" type="checkbox" [ngModel]="data.retro"
                (ngModelChange)="setParaDetail($event)" />
            </div>
            <div class="formteil-line-detail">
              <span>Typ</span> <select class='form-control' [ngModel]="data.paratextType"
                (ngModelChange)="setParaType($event)">
                <option *ngFor="let o of types">{{o}}</option>
              </select>
            </div>
            <div class="para-comment-button" *ngIf="!readOnly">
              <img (click)="showParaTextComment()" title="Kommentar" src='assets/icons/comment.svg' />
            </div>
          </div>

          <div class="formteil-line form-inline" *ngIf="kindIs(data, 'FormteilContainer')">
            <div *ngFor="let extraData of data.data; let i = index">
              <ng-container *ngTemplateOutlet="
                extraData.name === 'LemmatisiertesTextInitium' ? LemmatisiertesTextInitium :
                extraData.name === 'Signatur'                  ? Signatur                  :
                extraData.name === 'Status'                    ? Status                    :
                extraData.name === 'Verweis'                   ? Verweis                  :
                UnknownFormteilData
                ; context: {'$implicit': i}">
              </ng-container>
              <div class="deleteData" (click)="deleteData(i)">X</div>
            </div>
            <div ngbDropdown placement="right" class="dropdown dropright">
              <div ngbDropdownToggle class="my-dropdown">
                <img width="24px" height="24px" src="assets/icons/add.svg" />
              </div>
              <div ngbDropdownMenu>
                <span class="dropdown-item" (click)="addData(name)" *ngFor="let name of newDataName">{{name}}</span>
              </div>
            </div>

          </div>

        </div>
        <div *ngIf=" ('' + data.kind) === 'ZeileContainer'">
          <ng-container *ngFor="let child of data.children; trackBy:getUUID">
            <app-notes #linechild *ngIf="child.kind === 'Syllable'" [readOnly]="readOnly" [model]="child"
              (request)="onLinePartRequest($event, child)" [comments]="comments"></app-notes>
            <app-line-change #linechild *ngIf="child.kind === 'LineChange'" [readOnly]="readOnly" [model]="child"
              (request)="onLinePartRequest($event, child)" [comments]="comments"></app-line-change>
            <app-folio-change #linechild *ngIf="child.kind === 'FolioChange'" [readOnly]="readOnly" [model]="child"
              (request)="onLinePartRequest($event, child)" [comments]="comments"></app-folio-change>
            <app-clef #linechild *ngIf="child.kind === 'Clef'" [readOnly]="readOnly" [model]="child"
              (request)="onLinePartRequest($event, child)" [comments]="comments"></app-clef>
            <app-box #linechild *ngIf="child.kind === 'Box'" [readOnly]="readOnly" [model]="child"
              (request)="onLinePartRequest($event, child)">
            </app-box>
          </ng-container>
        </div>
        <div *ngIf=" ('' + data.kind) === 'ParatextContainer'">
          <textarea (keyDown)="onKeyDown()" spellcheck="false" class="form-control" *ngIf="!readOnly"
            [ngModel]='data.text' (ngModelChange)="setParatextTextArea($event)" #paratextInput></textarea>
          <span *ngIf="readOnly">{{data.text}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="children">
    <div class="child" *ngFor="let child of getChildren(); let i = index;trackBy:getUUID">
      <app-formteil-section #sub [documentType]="documentType" [readOnly]="readOnly" (onEvent)="handleEvent($event, i)"
        *ngIf="child.kind === 'FormteilContainer'" [data]="child" [comments]="comments" [zipper]="getZipper(i)">
      </app-formteil-section>
      <app-misc-section #sub [documentType]="documentType" [readOnly]="readOnly" (onEvent)="handleEvent($event, i)"
        *ngIf="child.kind === 'MiscContainer'" [data]="child" [comments]="comments" [zipper]="getZipper(i)">
      </app-misc-section>
      <app-zeile-section #sub [documentType]="documentType" [readOnly]="readOnly" (onEvent)="handleEvent($event, i)"
        *ngIf="child.kind === 'ZeileContainer'" [data]="child" [comments]="comments" [zipper]="getZipper(i)">
      </app-zeile-section>
      <app-paratext-section #sub [documentType]="documentType" [readOnly]="readOnly" (onEvent)="handleEvent($event, i)"
        *ngIf="child.kind === 'ParatextContainer'" [data]="child" [comments]="comments" [zipper]="getZipper(i)">
      </app-paratext-section>
    </div>
  </div>
</div>

<ng-template #LemmatisiertesTextInitium let-index>Lem. Textinit. <input class="form-control"
    [(ngModel)]="data.data[index].data" /></ng-template>
<ng-template #Signatur let-index>Signatur
  <input class="form-control" [ngModel]="getFormControlData(index)" (ngModelChange)="setFormControl($event, index)" />
</ng-template>
<ng-template #Status let-index>
  Status
  <select class="form-control" [ngModel]="getFormControlData(index)" (ngModelChange)="setFormControl($event, index)">
    <option>Tropenelement</option>
    <option>Einsatzmarke</option>
    <option>Refrain</option>
  </select>
</ng-template>
<ng-template #Verweis let-index>Verweis <input class="form-control" [ngModel]="getFormControlData(index)"
    (ngModelChange)="setFormControl($event, index)" /></ng-template>
<ng-template #UnknownFormteilData let-index>can't show {{data.data[index].name}}</ng-template>
