.main {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;

	.name {
		font-weight: bold;
		font-size: 120%;
		text-align: center;
	}

	.warning {
		font-weight: bold;
		font-size: 100%;
		text-align: center;
	}

	.errors {
		padding: 5px;
		background-color: #d65c30;

		.message {
			font-familiy: monospace;
			white-space: pre;
		}
	}

	.success {
		padding: 5px;
		background-color: lightgreen;
	}
}

.row {
	background-color: #d8e6f0;
	margin-top: 20px;
	padding-bottom: 10px;
}


.row.danger {
	background-color: orange;
}
