<div class="section" [style.width]="'35px'" [class.read-only]="readOnly">
  <div #notesDiv class="notes" (keydown)="keyDown($event)" tabindex="-1" (focusin)="setDivFocus(true)"
    (focusout)="setDivFocus(false)">
    <svg [attr.width]="'35px'">
      <g (click)="clicked()" [attr.transform]="readOnly ? 'translate(0, -30)' : 'translate(0, 0)'">
        <line x1=0 x2=9999 y1=40 y2=40 stroke=black />
        <line x1=0 x2=9999 y1=50 y2=50 stroke=black />
        <line x1=0 x2=9999 y1=60 y2=60 stroke=black />
        <line x1=0 x2=9999 y1=70 y2=70 stroke=black />
        <line x1=0 x2=9999 y1=80 y2=80 stroke=black />
        <path d="M 2.5 45 L 30.25 45 L 30.25 75 L 2.5 75 Z" [attr.stroke]="hasCurrentFocus()? '#5bf186' : '#FF0000'"
          fill="white" />
      </g>
    </svg>
  </div>
  <div tabindex="-1" class="noteText" contenteditable="true"></div>
  <div tabindex="-1" class="syllableText" contenteditable="true"></div>
</div>
