<svg tabindex="-1" width="10px" height="10px" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
  <circle cx="5" cy="5" r="5" fill="#ff7272" />
  <circle class="center" cx="5" cy="5" r="2" fill="#ffffff" />
</svg>
<div tabindex="-1" class="action" (click)="doDelete()">Löschen</div>

<div tabindex="-1" class="action" [class.active]="currentJustification() === 'Left'" (click)="doSetJustificationLeft()">
  Ausrichtung: links</div>

<div tabindex="-1" class="action" [class.active]="currentJustification() === 'Center'"
  (click)="doSetJustificationCenter()">Ausrichtung: mitte</div>

<div tabindex="-1" class="action" [class.active]="currentJustification() === 'Right'"
  (click)="doSetJustificationRight()">Ausrichtung: rechts</div>

<div tabindex="-1" class="action" [class.active]="currentJustification() === undefined"
  (click)="doSetJustificationNone()">Ausrichtung: standard</div>

<div tabindex="-1" class="action" *ngIf="supportsSettingContext" [class.active]="showContextSet()"
  (click)="doSetContext(true)">Automatischen Kontext generieren</div>

<div tabindex="-1" class="action" *ngIf="supportsSettingContext" [class.active]="!showContextSet()"
  (click)="doSetContext(false)">Keinen automatischen Kontext generieren</div>
