<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h3>Neuen Nutzer anlegen</h3>
    </div>
  </div>
  <form (ngSubmit)="createUser()">
    <div class="row">
      <div class="col form-group">
        <label>Nutzername:</label>
        <input type="email" name="mail" [(ngModel)]="mail" class="form-control" />
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <label>Password:</label>
        <input name="password" [(ngModel)]="password" class="form-control" />
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <input type="submit" class="btn btn-outline-primary" value="Anlegen">
      </div>
    </div>
  </form>
  <div class="row mt-5">
    <div class="col">
      <h3>Nutzerübersicht</h3>
    </div>
  </div>
  <div class="">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th> Mail </th>
            <th> Rollen </th>
            <th> Löschen </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ui of userInfo">
            <td> {{ui.user}} </td>
            <td> <span *ngFor="let r of ui.roles">{{r}}</span> </td>
            <td> <button (click)="removeUser(ui.user)" class="btn btn-outline-secondary">X</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
