<div class="section" [style.width]="getWidth() + 'px'" [class.read-only]="readOnly">
	<div #notesDiv class="notes" (keydown)="keyDown($event)" (click)="clickOn($event)" tabindex="-1"
		(focusin)="setDivFocus(true)" (focusout)="setDivFocus(false)">
		<svg [attr.width]="getWidth() + 'px'">
			<g [attr.transform]="readOnly ? 'translate(0, -30)' : 'translate(0, 0)'">
				<line x1=0 x2=9999 y1=40 y2=40 stroke=black />
				<line x1=0 x2=9999 y1=50 y2=50 stroke=black />
				<line x1=0 x2=9999 y1=60 y2=60 stroke=black />
				<line x1=0 x2=9999 y1=70 y2=70 stroke=black />
				<line x1=0 x2=9999 y1=80 y2=80 stroke=black />

				<rect *ngIf="!readOnly && isThisCommentStart()" [attr.x]="0" [attr.y]="30" fill="black" width="2px"
					height="60px" fill="#A5A5A5" />
				<rect *ngIf="!readOnly && isThisCommentStart()" [attr.x]="0" [attr.y]="30" fill="black" width="10px"
					height="2px" fill="#A5A5A5" />

				<g *ngIf="isNormal()" [attr.transform]="'translate(12, 0)'">
					<g *ngFor="let drawable of getDrawables();trackBy:refOfDrawable"
						(click)="drawableClicked(drawable, $event)">
						<image *ngIf="isNote(drawable) && !hasCurrentFocus(drawable) && drawable.ref.noteType == 'Flat'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12" xlink:href="assets/glyphs/flat.svg" />
						<image *ngIf="isNote(drawable) &&  hasCurrentFocus(drawable) && drawable.ref.noteType == 'Flat'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12"
							xlink:href="assets/glyphs/flat-focused.svg" />
						<image
							*ngIf="isNote(drawable) && !hasCurrentFocus(drawable) && drawable.ref.noteType == 'Natural'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12" xlink:href="assets/glyphs/natural.svg" />
						<image
							*ngIf="isNote(drawable) &&  hasCurrentFocus(drawable) && drawable.ref.noteType == 'Natural'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12"
							xlink:href="assets/glyphs/natural-focused.svg" />
						<image
							*ngIf="isNote(drawable) && !hasCurrentFocus(drawable) && drawable.ref.noteType == 'Sharp'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12" xlink:href="assets/glyphs/sharp.svg" />
						<image
							*ngIf="isNote(drawable) &&  hasCurrentFocus(drawable) && drawable.ref.noteType == 'Sharp'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12"
							xlink:href="assets/glyphs/sharp-focused.svg" />
						<image
							*ngIf="isNote(drawable) && !hasCurrentFocus(drawable) && drawable.ref.noteType == 'Normal'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12" xlink:href="assets/glyphs/note.svg" />
						<image
							*ngIf="isNote(drawable) &&  hasCurrentFocus(drawable) && drawable.ref.noteType == 'Normal'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12"
							xlink:href="assets/glyphs/note-focused.svg" />
						<image
							*ngIf="isNote(drawable) && !hasCurrentFocus(drawable) && drawable.ref.noteType == 'Ascending'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12" xlink:href="assets/glyphs/ascending.svg" />
						<image
							*ngIf="isNote(drawable) &&  hasCurrentFocus(drawable) && drawable.ref.noteType == 'Ascending'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12"
							xlink:href="assets/glyphs/ascending-focused.svg" />
						<image
							*ngIf="isNote(drawable) && !hasCurrentFocus(drawable) && drawable.ref.noteType == 'Descending'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12" xlink:href="assets/glyphs/descending.svg" />
						<image
							*ngIf="isNote(drawable) &&  hasCurrentFocus(drawable) && drawable.ref.noteType == 'Descending'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12"
							xlink:href="assets/glyphs/descending-focused.svg" />
						<image
							*ngIf="isNote(drawable) && !hasCurrentFocus(drawable) && drawable.ref.noteType == 'Oriscus'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12" xlink:href="assets/glyphs/oriscus.svg" />
						<image
							*ngIf="isNote(drawable) &&  hasCurrentFocus(drawable) && drawable.ref.noteType == 'Oriscus'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12"
							xlink:href="assets/glyphs/oriscus-focused.svg" />
						<image
							*ngIf="isNote(drawable) && !hasCurrentFocus(drawable) && drawable.ref.noteType == 'Strophicus'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12" xlink:href="assets/glyphs/strophicus.svg" />
						<image
							*ngIf="isNote(drawable) &&  hasCurrentFocus(drawable) && drawable.ref.noteType == 'Strophicus'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12"
							xlink:href="assets/glyphs/strophicus-focused.svg" />
						<image
							*ngIf="isNote(drawable) && !hasCurrentFocus(drawable) && drawable.ref.noteType == 'Quilisma'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12" xlink:href="assets/glyphs/quilisma.svg" />
						<image
							*ngIf="isNote(drawable) &&  hasCurrentFocus(drawable) && drawable.ref.noteType == 'Quilisma'"
							class="note" [attr.x]="drawable.x" [attr.y]="drawable.y"
							[attr.height]="drawable.ref.liquescent ? 40 : 60"
							[attr.width]="drawable.ref.liquescent ? 8 : 12"
							xlink:href="assets/glyphs/quilisma-focused.svg" />
						<path *ngIf="isTie(drawable)" [attr.d]="drawable.getPath()" stroke="black" stroke-width="2"
							fill="transparent" />

						<rect *ngIf="isHelperLine(drawable)" [attr.x]="drawable.x -3" [attr.y]="drawable.y - 0.5"
							fill="black" width="15px" height="1px" />

						<rect *ngIf="!readOnly && isCommentStart(drawable)" [attr.x]="drawable.x" [attr.y]="30"
							fill="black" width="2px" height="60px" fill="#A5A5A5" />
						<rect *ngIf="!readOnly && isCommentStart(drawable)" [attr.x]="drawable.x" [attr.y]="30"
							fill="black" width="10px" height="2px" fill="#A5A5A5" />
						<rect *ngIf="!readOnly && isCommentEnd(drawable)" [attr.x]="drawable.x" [attr.y]="30"
							fill="black" width="2px" height="60px" fill="#A5A5A5" />
						<rect *ngIf="!readOnly && isCommentEnd(drawable)" [attr.x]="drawable.x -10" [attr.y]="30"
							fill="black" width="10px" height="2px" fill="#A5A5A5" />
					</g>
				</g>
				<rect *ngIf="!readOnly && isThisCommentEnd()" [attr.x]="getWidth()-2" [attr.y]="30" fill="black"
					width="2px" height="60px" fill="#A5A5A5" />
				<rect *ngIf="!readOnly && isThisCommentEnd()" [attr.x]="getWidth()-14" [attr.y]="30" fill="black"
					width="10px" height="2px" fill="#A5A5A5" />

			</g>
			<g *ngIf="!isNormal() && !readOnly" [attr.transform]="'translate(' + ((getWidth() - 40)/2) + ', 0)'">
				<rect x="5" y="60" fill="black" width="40px" height="10px"
					[attr.stroke]=" hasFocus ?  '#00FF00' : '#000000'" fill=none stroke-width="4" />
			</g>

		</svg>
	</div>

	<div (click)="setCodeAsPreferredFocus()" [class.vhidden]="!isNormal()" tabindex="-1" #noteText class="noteText"
		spellcheck="false" (keyup)="changeNoteText($event)" (keydown)="onNoteTextDown($event)" contenteditable="true">
	</div>
	<div (click)="setTextAsPreferredFocus()" [class.dnone]="isSourceEllipsis() || isEditorEllipsis()" tabindex="-1"
		#syllableText class="syllableText" spellcheck="false" (keydown)="changeSyllableTextDown($event)"
		(keyup)="changeSyllableText($event)" (focusin)="setSyllFocus(true)" (focusout)="setSyllFocus(false)"
		contenteditable="true"></div>
	<div (click)="setTextAsPreferredFocus()" [class.dnone]="!isSourceEllipsis()" class="syllableText">...</div>
	<div (click)="setTextAsPreferredFocus()" [class.dnone]="!isEditorEllipsis()" class="syllableText">&lt;...&gt;</div>
</div>