<div class="container">
  <div class="row">
    <div class="col">
      <p>
        Willkommen zu Mono:di 2
      </p>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col">
      <textarea [(ngModel)]="wordText"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="convert()">Convert</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Fragen:
      <ol>
        <li>Was bedeutet das ||p3 nach einem Paratext</li>
        <li>Wie sollen die Zeilen dargestellt werden, die ohne Nummer starten und mit einem &lt; beginnen</li>
        <li>Was bedeuten die Sachen nach den Strichpunten: ; AH 54, 73</li>
        <li>Machmal beginnen einfach neue Zeilen. Sollen die auch eine neue Notenzeile bedeuten? (12a)</li>
        <li>Sonderzeichen wie ę / Ę erlaubt</li>
      </ol>
    </div>
  </div>
  -->
</div>
