.pdf-pagination {
  display: flex;
  justify-content: center;

  button,
  span {
    margin: 0.5em;
  }

  button:disabled {
    visibility: hidden;
  }
}

.pdfviewer {
  overflow: auto;

  mark.search-result {
    color: transparent;
    opacity: 0.3;
  }
  .react-pdf__Document {
    display: flex;
    justify-content: center;
  }
  .react-pdf__Document .react-pdf__Page {
    width: min-content;
  }
}

.pdf-zoomcontrols {
  padding-left: 2em;
}
