.section {
    display: inline-block;
    vertical-align: bottom;
}

svg {
    height: 120px;
    width: 100%;
}

.noteText, .syllableText {
    white-space: nowrap;
    text-align: center;
    border: 1px dashed white;
    margin: 5px;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    visibility: hidden;
    line-height: 25px;
    height: 25px;
}

svg .note {
    cursor: pointer;
}

.read-only {
    .noteText { display: none !important; }
    .syllableText { border: none !important; }
    svg { height: 90px; }
}
