.bottom-padding {
  height: 100px;
}

.import-errors {
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  background: lightcoral;
}

ul {
  margin-bottom: 0px;
}

.disabled-input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
}

@media print {
  body * {
    visibility: hidden;
    float: none;
  }

  .container {
    overflow: visible;
    visibility: visible;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .collapse {
    display: block;
  }

  .row {
    display: block;
  }
}

.row.internal-id-row .col {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row.internal-id-row .col span:nth-child(1) {
  font-weight: bold;
}
.row.internal-id-row .col input {
  display: block;
  padding: 0.5em;
  width: 40em;
  border: 1px solid #89bdd3;
}
.row.internal-id-row .col > * {
  margin: 0.3em 0 0.3em 0.3em;
}

